<div id="features">
  <div class="container">
    <div class="section_header">
      <h3>Features</h3>
    </div>
    <!-- Features Row -->
    <div class="row">
      <!-- Feature -->
      <div class="col-sm-4">
        <div class="feature">
          <div class="img">
            <img src="/assets/img/features-ico6.png" />
          </div>
          <div class="text">
            <h6>NRC Standards</h6>
            <p>
              All 14 animal species, 450 sub species, conform to NRC Standards.
            </p>
          </div>
        </div>
      </div>
      <!-- Feature -->
      <div class="col-sm-4">
        <div class="feature">
          <div class="img">
            <img src="/assets/img/features-ico5.png" />
          </div>
          <div class="text">
            <h6>Extensive Feedstuffs Database</h6>
            <p>
              Our Database contains over 260 Feedstuff with values for all 60 Nutrients.
            </p>
          </div>
        </div>
      </div>
      <!-- Feature -->
      <div class="col-sm-4">
        <div class="feature last">
          <div class="img">
            <img src="/assets/img/features-ico7.png" />
          </div>
          <div class="text">
            <h6>Linear-Programming Procedure</h6>
            <p>
              Formulations are based on a least-cost linear programming procedure.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="service_2">
    <div class="container">
      <div class="section_header">
        <h3>Options</h3>
      </div>
      <div class="row perk">
        <div class="col-sm-2 circle circle1">
          <img src="/assets/img/service_ico1.png" alt="">
        </div>

        <div class="col-sm-10 description_wrapper">
          <h5>Standard Formulation Option</h5>
          <p>
            In the <b>Standard Formulations Option</b>, formulations are performed up to the macro-nutrients stage with no
            limit place on the number of formulations, and are free of charge. The composition of the formulated ration is
            set out in table form, together with the cost per ton, which of course excludes any mixing and/or blending costs.
          </p>
        </div>
      </div>

      <div class="row perk">
        <div class="col-sm-2 circle">
          <img src="/assets/img/service_ico2.png" alt="">
        </div>

        <div class="col-sm-10 description_wrapper">
          <h5>Extended Formulations Option</h5>
          <p>
            <b>Extended Formulations Option</b> is an extension to our <b>Standard Formulations Option</b> and offers to
            its users invaluable addtional features.
          </p>
          <p>These features inlcudes:</p>
          <ul>
            <li>Recieving nutrient statuses of the formulated rations, by listing all nutrients values and labelling those that
              are inadequate supply.
            </li>
            <li>
              Recieving a customized micro-nutrient supplement mix, which, when added to the 1 ton mix, will rectify any deficiencies found
              in the initial macro formulation.
            </li>
            <li>
              The option to add your own feedstuffs with their nutrient content as well as any other product as an ingredient.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Pricing Option -->
  <!--<div id="in_pricing">
  <div class="container">
    <div class="section_header">
      <h3>Pricing</h3>
    </div>

    <div class="row charts_wrapp">
      <div class="col-sm-4">
        <div class="plan">
          <div class="wrapper">
            <h3>Lite</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">20</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>4</strong> Team Members
              </p>
              <p>
                <strong>10</strong> Storage
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 pro">
        <div class="plan">
          <div class="wrapper">
            <img class="ribbon" src="/assets/img/badge.png">
            <h3>Pro</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">45</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>25</strong> Team Members
              </p>
              <p>
                <strong>Unlimited</strong> Storage
              </p>
              <p>
                <strong>Plus </strong> Phone Support
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 standar">
        <div class="plan">
          <div class="wrapper">
            <h3>Standard</h3>
            <div class="price">
              <span class="dollar">$</span>
              <span class="qty">70</span>
              <span class="month">/month</span>
            </div>
            <div class="features">
              <p>
                <strong>10</strong> Shared Projects
              </p>
              <p>
                <strong>4</strong> Team Members
              </p>
              <p>
                <strong>10</strong> Storage
              </p>
            </div>
            <a class="order" href="pricing.html">ORDER NOW</a>
          </div>
        </div>
      </div>
    </div>
    <div class="start">
      <p>Start your free, no-risk, 14 day trial! </p>
      <a href="pricing.html">Start Now!</a>
    </div>
  </div>
</div>-->