<div id="showcase">
  <div class="container">
    <div class="section_header">
      <h3>Own Feedstuffs or Products</h3>
      <br />
      <br />
      <p>

      </p>
    </div>
    <div class="row feature_wrapper">
      <p class="text-danger" *ngFor="let message of model?.validationMessages">{{message}}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="form-control" [(ngModel)]="model?.newFeedstuff.name" />
            </td>
            <td>{{model?.currentTimestamp | date: 'dd MMMM yyyy'}}</td>
            <td>
              <button class="btn btn-success" (click)="model?.onClick_CreateFeedstuff()"><i class="fa fa-plus"></i>&nbsp;Create</button>
            </td>
          </tr>
          <tr *ngFor="let item of model?.feedstuffs">
            <td>{{item.name}}</td>
            <td>N/A</td>
            <td>
              <button class="btn btn-warning" (click)="model?.onClick_EditFeedstuff(item)"><i class="fa fa-edit"></i>&nbsp;Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>